body{
    background-image: url("https://images.unsplash.com/photo-1592134212762-51ee580cd38a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3RvcHdhdGNofGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.wrapper{
    color:pink;
    text-align: center;
    background-color: rgb(65, 49, 52);
    padding: 50px;
    border-radius: 60%;
   letter-spacing: 5px;
}
#seconds,#tens{
    font-size: 35px;
}
button{
    cursor: pointer;
    border-radius: 60%;
    background-color: aqua;
    border:2px groove black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
}
button:hover{
    background-color: rgb(76, 9, 90);
    color: rgb(16, 126, 129);
}
h1{
    text-shadow: 5px 5px 5px;
    border: solid black;
    background-color: hotpink;
    
}